/* reset */
button {
  all: unset;
}

.SelectTrigger {
  display: inline-flex;
  gap: 5px;
  align-items: center;
  justify-content: center;

  height: 35px;
  padding: 0 15px;

  font-size: 13px;
  line-height: 1;
  color: red;

  background-color: white;
  border-radius: 4px;
  box-shadow: 0 2px 10px green;
}

.SelectTrigger:hover {
  background-color: orange;
}

.SelectTrigger:focus {
  box-shadow: 0 0 0 2px black;
}

.SelectTrigger[data-placeholder] {
  color: blue;
}

.SelectIcon {
  color: red;
}

.SelectContent {
  overflow: hidden;
  background-color: white;
  border-radius: 6px;
  box-shadow:
    0 10px 38px -10px rgb(22 23 24 / 35%),
    0 10px 20px -15px rgb(22 23 24 / 20%);
}

.SelectViewport {
  padding: 5px;
}

.SelectItem {
  user-select: none;

  position: relative;

  display: flex;
  align-items: center;

  height: 25px;
  padding: 0 35px 0 25px;

  font-size: 13px;
  line-height: 1;
  color: red;

  border-radius: 3px;
}

.SelectItem[data-disabled] {
  pointer-events: none;
  color: darkcyan;
}

.SelectItem[data-highlighted] {
  color: yellow;
  background-color: blue;
  outline: none;
}

.SelectLabel {
  padding: 0 25px;
  font-size: 12px;
  line-height: 25px;
  color: orchid;
}

.SelectSeparator {
  height: 1px;
  margin: 5px;
  background-color: blueviolet;
}

.SelectItemIndicator {
  position: absolute;
  left: 0;

  display: inline-flex;
  align-items: center;
  justify-content: center;

  width: 25px;
}

.SelectScrollButton {
  cursor: default;

  display: flex;
  align-items: center;
  justify-content: center;

  height: 25px;

  color: red;

  background-color: white;
}
