.card {
  position: relative;
  width: 420px;

  .back {
    position: absolute;
    top: 40px;
    left: 28px;

    padding: unset;

    font-size: 22px;

    background-color: transparent;
    box-shadow: none;

    &:hover {
      scale: 1.2;
    }
  }

  .avatarWrap {
    position: relative;
    width: 96px;
    margin: 30px auto 0;

    img {
      width: 100%;
      border-radius: 100%;
    }

    .deleteAvatar,
    .newAvatar {
      position: absolute;
      right: 3px;
      padding: 4px;
      font-size: 16px;
    }

    .deleteAvatar {
      top: 6px;
      background-color: var(--color-danger-500);

      &:hover {
        background-color: var(--color-danger-300);
      }
    }

    .newAvatar {
      bottom: 6px;
    }
  }

  .nameWrap {
    display: flex;
    column-gap: 10px;
    align-items: center;
    justify-content: center;

    margin-top: 16px;

    button {
      padding: 4px;
      font-size: 16px;
      background-color: transparent;
      box-shadow: none;
    }
  }

  .emailWrap {
    display: flex;
    column-gap: 10px;
    align-items: center;
    justify-content: center;

    margin-top: 16px;

    .email {
      color: var(--color-dark-100);
    }

    .unverified,
    .verified {
      padding: unset;
      background-color: transparent;
      box-shadow: none;
    }

    .unverified {
      font-size: 12px;
      color: var(--color-danger-500);
    }

    .verified {
      cursor: default;
      height: 20px;
      font-size: 20px;
      color: var(--color-success-500);
    }
  }

  .logout {
    margin-top: 15px;
    margin-inline: auto;
  }

  .form {
    margin-top: 12px;

    button {
      margin-top: 35px;
    }
  }
}
