@import '../../../styles';

.table {
  overflow-x: auto;
  table-layout: fixed;
  border-collapse: collapse;
  width: 100%;

  &.withActions {
    display: block;
  }

  .active {
    background-color: var(--color-dark-300) !important;
  }

  .th,
  .td {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    vertical-align: middle;
  }

  .th {
    div {
      cursor: pointer;

      display: flex;
      column-gap: 5px;
      align-items: center;

      transition: all 0.2s;
    }
  }

  .td {
    .content {
      overflow: hidden;
      display: flex;
      gap: 10px;
      align-items: center;

      .cover {
        flex-shrink: 0;

        width: 80px;
        height: 35px;

        object-fit: cover;
        border-radius: 2px;
      }

      .text {
        overflow: hidden;
        flex-grow: 1;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
    }
  }

  .tdQuestion,
  .thQuestion {
    width: 30%;
  }

  .tdAnswer,
  .thAnswer {
    width: 30%;
  }

  .tdQuestion,
  .tdAnswer {
    div {
      display: flex;
      column-gap: 10px;
      align-items: center;
    }
  }

  .tdUpdated,
  .thUpdated {
    width: 20%;
  }

  .tdGrade,
  .thGrade {
    width: 15%;
  }

  .tdGrade {
    .stars {
      display: flex;
      column-gap: 2px;
      font-size: 18px;
      color: goldenrod;
    }
  }

  .tdActions {
    width: 5%;

    div {
      display: flex;
      column-gap: 10px;
      align-items: center;
      justify-content: center;

      button {
        cursor: pointer;

        position: relative;
        z-index: 1;

        height: 16px;
        padding: unset;

        font-size: 16px;

        background-color: transparent;
        box-shadow: none;

        @include button-hover;

        &.edit {
          color: var(--color-info-500);
        }

        &.btnTrash {
          color: var(--color-danger-500);
        }
      }
    }
  }
}
