.card {
  max-width: 420px;

  .form {
    margin-top: 50px;

    .instructions {
      margin-top: 22px;
      color: var(--color-dark-100);
    }

    .buttonSubmit {
      margin-top: 80px;
    }
  }

  @media (width <= 525px) {
    .password {
      font-size: 14px;
    }
  }
}
