/* stylelint-disable no-duplicate-selectors */
@mixin button {
  all: unset;

  cursor: pointer;

  display: flex;
  column-gap: 10px;
  align-items: center;
  justify-content: center;

  box-sizing: border-box;
  padding: 6px 28px;

  font-family: inherit;
  font-size: var(--font-size-s);
  font-weight: var(--font-weight-bold);
  line-height: var(--line-height-m);

  border-radius: 4px;

  transition: all 0.3s ease;

  &:focus-visible {
    outline: 2px solid var(--color-info-700);
  }

  &:disabled {
    cursor: not-allowed !important;
    color: var(--color-light-900);
  }

  @media (width <= 525px) {
    padding: 4px 22px;
    font-size: var(--font-size-s);
  }

  @media (width < 425px) {
    padding: 4px 14px;
    font-size: var(--font-size-xs);
  }
}

.primary {
  @include button;

  & {
    background-color: var(--color-accent-500);
    box-shadow: 0 4px 18px 0 var(--color-accent-900);
  }

  &:hover {
    background-color: var(--color-accent-300);
  }

  &:active {
    background-color: var(--color-accent-700);
  }

  &:disabled {
    background-color: var(--color-accent-900);
  }
}

.secondary {
  @include button;

  & {
    background-color: var(--color-dark-300);
    box-shadow: 0 4px 18px 0 var(--color-dark-500);
  }

  &:hover {
    background-color: var(--color-dark-100);
  }

  &:active {
    background-color: var(--color-dark-500);
  }

  &:disabled {
    background-color: var(--color-dark-700);
  }
}

.fullWidth {
  width: 100%;
}
