button {
  all: unset;
}

.avatarButton {
  width: 36px;
  height: 36px;
  border-radius: 100%;

  img {
    width: 100%;
    border-radius: 100%;
  }
}

.iconButton {
  display: flex;
  align-items: center;
  justify-content: center;

  font-family: inherit;

  background-color: transparent;
  border: 1px solid var(--color-light-100);
  border-radius: 100%;

  transition: all 0.2s ease;

  &:hover {
    color: var(--color-accent-500);
  }
}

.avatarButton,
.iconButton {
  cursor: pointer;

  &:focus-visible {
    outline: 2px solid var(--color-info-700);
  }
}

.dropdownMenuContent {
  padding: 0 12px;

  background-color: var(--color-dark-700);
  border: 1px solid var(--color-dark-500);
  border-radius: 4px;

  animation-duration: 400ms;
  animation-timing-function: cubic-bezier(0.16, 1, 0.3, 1);

  &[data-state='open'] {
    animation-name: slide-open;
  }

  &[data-state='closed'] {
    animation-name: slide-closed;
  }

  .dropdownMenuArrowWrap {
    position: relative;

    &.dropdownMenuArrow {
      position: absolute;
      top: -4.75px;
      right: -3.25px;
      transform: rotate(45deg);

      width: 9px;
      height: 9px;

      background-color: var(--color-dark-700);
      border: 1px solid var(--color-dark-500);
      border-top: none;
      border-left: none;
    }
  }

  .dropdownMenuLabel {
    display: flex;
    column-gap: 8px;
    align-items: center;

    padding: 12px 0;

    border-bottom: 1px solid var(--color-dark-500);

    img {
      width: 36px;
      height: 36px;
      border-radius: 100%;
    }

    .text {
      display: flex;
      flex-direction: column;

      .email {
        color: var(--color-dark-100);
      }
    }
  }

  .dropdownMenuItem {
    cursor: pointer;

    position: relative;

    display: flex;
    column-gap: 6px;
    align-items: center;

    padding: 12px 0;

    font-size: var(--font-size-xs);
    font-weight: var(--font-weight-regular);
    line-height: var(--line-height-s);

    outline: none;

    &:not(:last-child) {
      border-bottom: 1px solid var(--color-dark-500);
    }

    &[data-highlighted] {
      color: var(--color-accent-500);
    }
  }
}

@keyframes slide-open {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes slide-closed {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}
