button {
  all: unset;
}

.iconButton {
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;

  font-family: inherit;

  background-color: transparent;
  border: 1px solid var(--color-light-100);
  border-radius: 100%;

  transition: all 0.2s ease;

  &:hover {
    color: var(--color-accent-500);
  }

  &:focus {
    box-shadow: 0 0 0 2px var(--color-info-700);
  }
}

.dropdownMenuContent {
  padding: 0 12px;

  background-color: var(--color-dark-700);
  border: 1px solid var(--color-dark-500);
  border-radius: 4px;

  animation-duration: 400ms;
  animation-timing-function: cubic-bezier(0.16, 1, 0.3, 1);

  &[data-side='top'] {
    animation-name: slide-down-and-fade;
  }

  &[data-side='right'] {
    animation-name: slide-left-and-fade;
  }

  &[data-side='bottom'] {
    animation-name: slide-up-and-fade;
  }

  &[data-side='left'] {
    animation-name: slide-right-and-fade;
  }

  .dropdownMenuArrowWrap {
    position: relative;

    &.dropdownMenuArrow {
      position: absolute;
      top: -4.75px;
      right: -3.25px;
      transform: rotate(45deg);

      width: 9px;
      height: 9px;

      background-color: var(--color-dark-700);
      border: 1px solid var(--color-dark-500);
      border-top: none;
      border-left: none;
    }
  }

  .dropdownMenuLabel {
    padding-left: 25px;
    font-size: 12px;
    line-height: 25px;
    color: orange;
  }

  .dropdownMenuItem {
    cursor: pointer;

    position: relative;

    display: flex;
    align-items: center;

    padding: 10px 12px;

    font-size: var(--font-size-xs);
    font-weight: var(--font-weight-regular);
    line-height: var(--line-height-s);

    outline: none;

    &:not(:last-child) {
      border-bottom: 1px solid var(--color-dark-500);
    }

    &[data-highlighted] {
      color: var(--color-accent-500);
    }
  }
}

@keyframes slide-up-and-fade {
  from {
    transform: translateY(2px);
    opacity: 0;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slide-right-and-fade {
  from {
    transform: translateX(-2px);
    opacity: 0;
  }

  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slide-down-and-fade {
  from {
    transform: translateY(-2px);
    opacity: 0;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slide-left-and-fade {
  from {
    transform: translateX(2px);
    opacity: 0;
  }

  to {
    transform: translateX(0);
    opacity: 1;
  }
}
