.decksPage {
  margin: 30px 0 5px;

  .button {
    width: 150px;
  }

  .title {
    display: flex;
    justify-content: space-between;
  }

  .filter {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 34px;

    .search {
      width: 400px;
    }

    .tabs {
      width: 235px;
    }
  }

  .decksTable {
    margin-top: 36px;
  }

  .paragraph {
    margin-top: 50px;
    color: var(--color-dark-100);
  }

  .pagination {
    margin-top: 14px;
  }
}
