.card {
  max-width: 420px;

  .form {
    margin-top: 26px;

    .password {
      margin-top: 48px;
    }

    .buttonSubmit {
      margin-top: 56px;
    }
  }

  .text {
    margin-top: 20px;
    color: var(--color-light-900);
  }

  .link {
    cursor: pointer;
    margin-top: 10px;
    color: var(--color-accent-500);
    text-decoration: underline;
  }

  @media (width <= 525px) {
    .email, .password {
      font-size: 14px;
    }
  }
}
