.header {
  width: 100%;
  padding-block: 12px;
  background-color: var(--color-dark-700);

  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .logo {
      cursor: pointer;
      height: 36px;
      transition: all 0.3s ease;

      &:hover {
        scale: 1.05;
      }

      @media (width <= 425px) {
        height: 30px;
      }

    }

    .info {
      display: flex;
      column-gap: 14px;
      align-items: center;

      .name {
        border-bottom: 1px dashed;

        @media (width < 425px) {
          display: none;
        }
      }
    }
  }
}
