.card {
  max-width: 420px;

  .icon {
    display: block;
    width: 96px;
    margin: 28px auto 0;
  }

  .info {
    margin-top: 20px;
    color: var(--color-dark-100);
  }

  .form {
    margin-top: 50px;

    .buttonSubmit {
      margin-top: 20px;
    }

    @media (width <= 525px) {
      .code {
        font-size: 14px;
      }
    }
  }

  .text {
    margin-top: 20px;
    color: var(--color-light-900);
  }

  .resend {
    margin: 10px auto 0;
    padding: unset;

    font-size: var(--font-size-m);
    font-weight: var(--font-weight-bold);
    line-height: var(--line-height-m);
    color: var(--color-accent-500);
    text-decoration: underline;

    background-color: transparent;
    box-shadow: none;

    &:hover {
      text-decoration: none;
      background-color: transparent;
    }

    @media (width <= 525px) {
      font-size: var(--font-size-s);
    }

    @media (width <= 525px) {
      font-size: var(--font-size-xs);
    }
  }
}
