.card {
  width: 420px;

  .icon {
    display: block;
    width: 96px;
    margin: 28px auto 0;
  }

  .info {
    margin-top: 20px;
    color: var(--color-dark-100);
  }

  .buttonSubmit {
    margin-top: 68px;
  }
}
