.portal {
  width: 542px;

  .form {
    position: relative;

    img {
      width: 100%;
      max-height: 300px;
      object-fit: cover;
      border-radius: 2px;
    }

    .textField {
      margin-top: 24px;
    }

    .buttons {
      display: flex;
      column-gap: 36px;
      justify-content: space-between;
      margin-top: 24px;

      .removeButton {
        background-color: var(--color-danger-500);
        box-shadow: 0 4px 18px 0 var(--color-danger-900);

        &:hover {
          background-color: var(--color-danger-300);
        }

        &:active {
          background-color: var(--color-danger-700);
        }
      }

      .uploadButton {
        input {
          display: none;
        }
      }
    }

    .checkbox {
      margin-top: 24px;
    }
  }

  .buttonsWrap {
    display: flex;
    justify-content: space-between;
    margin-top: 36px;

    .delete {
      background-color: var(--color-danger-500);
      box-shadow: 0 4px 18px 0 var(--color-danger-900);

      &:hover {
        background-color: var(--color-danger-300);
      }

      &:active {
        background-color: var(--color-danger-700);
      }
    }
  }
}
