.learnPage {
  margin: 24px 0 5px;

  .back {
    padding: unset;
    background-color: unset;
    box-shadow: none;
    transition: all 0.3s ease;

    svg {
      font-size: 16px;
    }

    &:hover {
      scale: 1.05;
    }
  }

  .card {
    width: 420px;
    margin: 30px auto;

    .question {
      margin-top: 30px;
    }

    .answerNumber {
      color: var(--color-dark-100);
    }

    .showAnswer {
      margin-top: 40px;
    }

    .answer {
      margin-top: 34px;
    }

    .subtitle {
      margin-top: 15px;
    }

    .radioGroup {
      margin-left: -10px;
    }

    .acceptBtn {
      margin-top: 15px;
    }
  }
}
