.learnPage {
  margin: 24px 0 5px;

  .back {
    padding: unset;
    background-color: unset;
    box-shadow: none;
    transition: all 0.3s ease;

    svg {
      font-size: 16px;
    }

    &:hover {
      scale: 1.05;
    }
  }

  .card {
    max-width: 420px;
    margin: 30px auto;

    .question {
      margin-top: 30px;
    }

    .image {
      width: 100%;
      max-height: 200px;
      margin-top: 14px;

      object-fit: cover;
      border-radius: 2px;
    }

    .answerNumber {
      margin-top: 5px;
      color: var(--color-dark-100);
    }

    .showAnswer {
      margin-top: 30px;
    }

    .answer {
      margin-top: 34px;
    }

    .subtitle {
      margin-top: 15px;
    }

    .radioGroup {
      margin-left: -10px;
    }

    .acceptBtn {
      margin-top: 15px;

      .btnLoader {
        font-size: 18px;
        animation: loading 2s linear infinite;
      }
    }
  }
}

@keyframes loading {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}
