@import '../../../styles';

.table {
  table-layout: fixed;
  border-collapse: collapse;
  width: 100%;

  .active {
    background-color: var(--color-dark-300) !important;
  }

  .tr {
    &:hover {
      background-color: var(--color-dark-700);
    }
  }

  .th,
  .td {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    vertical-align: middle;
  }

  .th {
    div {
      cursor: pointer;

      display: flex;
      column-gap: 5px;
      align-items: center;

      transition: all 0.2s;
    }
  }

  .td {
    .link {
      overflow: hidden;
      display: flex;
      gap: 10px;
      align-items: center;

      color: unset;
      text-decoration: none;

      .cover {
        flex-shrink: 0;

        width: 118px;
        height: 48px;

        object-fit: cover;
        border-radius: 2px;
      }

      .text {
        overflow: hidden;
        flex-shrink: 1;
        text-overflow: ellipsis;
        white-space: nowrap;
      }

      &:hover {
        text-decoration: underline;
      }
    }
  }

  .tdName,
  .thName {
    width: 450px;
  }

  .tdCards,
  .thCards {
    width: 100px;
  }

  .tdUpdated,
  .thUpdated {
    width: 150px;
  }

  .tdAuthor,
  .thAuthor {
    width: 300px;
  }

  .tdActions,
  .thActions {
    width: 120px;
  }

  .tdName {
    cursor: pointer;
  }

  .tdCards {
    &.zero {
      color: var(--color-danger-700);
    }
  }

  .tdActions {
    div {
      display: flex;
      column-gap: 10px;
      align-items: center;
      justify-content: center;

      button {
        cursor: pointer;

        position: relative;
        z-index: 1;

        height: 16px;
        padding: unset;

        font-size: 16px;

        background-color: transparent;
        box-shadow: none;

        @include button-hover;

        &.play {
          color: var(--color-success-500);

          &:disabled {
            color: var(--color-success-900);
            background-color: transparent;
          }
        }

        &.edit {
          color: var(--color-info-500);
        }

        &.btnTrash {
          color: var(--color-danger-500);
        }
      }
    }
  }
}
