.th {
  cursor: pointer;
  display: flex;
  column-gap: 5px;
  align-items: center;
}

.tdName {
  cursor: pointer;
  width: 450px;

  * {
    transition: all 0.3s;
  }

  div {
    display: flex;
    column-gap: 10px;
    align-items: center;

    img {
      width: 118px;
      height: 48px;
      object-fit: cover;
      border-radius: 2px;
    }
  }

  &:hover {
    color: var(--color-dark-100);

    img {
      transform: scale(1.1);
    }
  }
}

.tdCards {
  width: 100px;
}

.tdAuthor {
  width: 250px;
}

.tdActions {
  width: 120px;

  div {
    display: flex;
    align-items: center;
    justify-content: space-between;

    button {
      cursor: pointer;

      position: relative;
      z-index: 1;

      height: 16px;
      padding: unset;

      font-size: 16px;

      background-color: transparent;
      box-shadow: none;

      &:not(:disabled)::before {
        content: '';

        position: absolute;
        z-index: -1;
        transform: scale(0);

        display: block;

        width: 28px;
        height: 28px;

        background-color: var(--color-dark-300);
        border-radius: 100%;

        transition: all 0.2s cubic-bezier(0.4, 0, 0.2, 1) 0ms;
      }

      &:hover {
        background-color: transparent;

        &::before {
          transform: scale(1);
        }
      }

      &:disabled {
        color: var(--color-dark-300);
        background-color: transparent;
      }
    }
  }
}
