@import '../../../styles';

.active {
  background-color: var(--color-dark-300) !important;
}

.th {
  cursor: pointer;

  display: flex;
  column-gap: 5px;
  align-items: center;

  transition: all 0.2s;
}

.tdName {
  cursor: pointer;
  width: 450px;

  * {
    transition: all 0.3s;
  }

  div {
    display: flex;
    column-gap: 10px;
    align-items: center;

    img {
      width: 118px;
      height: 48px;
      object-fit: cover;
      border-radius: 2px;
    }
  }

  &:hover {
    color: var(--color-dark-100);

    img {
      transform: scale(1.1);
    }
  }
}

.tdCards {
  width: 100px;

  &.zero {
    color: var(--color-danger-700);
  }
}

.tdAuthor {
  width: 250px;
}

.tdActions {
  width: 120px;

  div {
    display: flex;
    column-gap: 10px;
    align-items: center;
    justify-content: center;

    button {
      cursor: pointer;

      position: relative;
      z-index: 1;

      height: 16px;
      padding: unset;

      font-size: 16px;

      background-color: transparent;
      box-shadow: none;

      @include button-hover;

      &.play {
        color: var(--color-success-500);

        &:disabled {
          color: var(--color-success-900);
          background-color: transparent;
        }
      }

      &.edit {
        color: var(--color-info-500);
      }

      &.btnTrash {
        color: var(--color-danger-500);
      }
    }
  }
}
