.dialogOverlay {
  position: fixed;
  z-index: 2;
  inset: 0;

  background-color: rgb(0 0 0 / 80%);

  animation: overlay-show 250ms ease;
}

.dialogContent {
  position: fixed;
  z-index: 3;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  animation: content-show 250ms ease;

  &:focus {
    outline: none;
  }

  .card {
    padding: unset;

    .header {
      display: flex;
      align-items: center;
      justify-content: space-between;

      padding: 18px 24px;

      border-bottom: 1px solid var(--color-dark-500);

      .closeButton {
        padding: unset;
        font-size: var(--font-size-l);
        background-color: unset;
        box-shadow: none;

        &:hover {
          color: var(--color-danger-500);
        }
      }
    }

    .content {
      padding: 18px 24px;
    }
  }
}

@keyframes overlay-show {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes content-show {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
