.tabsRoot {
  position: relative;
  width: 100%;

  .title {
    position: absolute;
    top: -24px;
    color: var(--color-dark-100);
  }

  .tabsList {
    display: flex;

    .tabsTrigger {
      cursor: pointer;

      display: flex;
      flex: 1;
      align-items: center;
      justify-content: center;

      padding: 5px 24px;

      font-size: var(--font-size-m);
      font-weight: var(--font-weight-regular);
      line-height: var(--line-height-m);

      background-color: transparent;
      border: 1px solid var(--color-dark-300);
      border-right: none;

      &:first-child {
        border-top-left-radius: 2px;
        border-bottom-left-radius: 2px;
      }

      &:last-child {
        border-right: 1px solid var(--color-dark-300);
        border-top-right-radius: 2px;
        border-bottom-right-radius: 2px;
      }

      &:hover {
        color: var(--color-light-900);
        background-color: var(--color-dark-300);
      }

      &:focus-visible {
        outline: 2px solid var(--color-info-700);
      }

      &[data-state='active'] {
        color: var(--color-light-100);
        background-color: var(--color-accent-500);
      }

      &[data-disabled] {
        cursor: not-allowed;
        color: var(--color-dark-300);
        background-color: var(--color-dark-700);
      }
    }
  }
}
